
.dashboard-wrapper {
      width: 100vw;  
      
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  
}

.dashboard-content {
  width: 100%;
  max-width: 960px;
  background: gray;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Filtros ordenados */
.filters {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.date-filters {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Grilla de 3 columnas */
.task-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
